.navbar {
  height: 60px;
  background: linear-gradient(10deg, #1976d2, #64b5f6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.links a:hover {
  text-decoration: underline;
}

.links button {
  background: transparent;
  color: #e53935;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.admin-badge {
  background-color: #3bff69;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 7px;
  margin-left: 8px;
  border-radius: 4px;
  vertical-align: middle;
}
