<div class="search-box">
  <h2>Search Flights</h2>

  <div class="form">
  <!-- FROM -->
  <select [(ngModel)]="from" name="from" required>
    <option value="" disabled selected>Select From</option>
    <option *ngFor="let place of places" [value]="place">
      {{ place }}
    </option>
  </select>

  <!-- TO -->
  <select [(ngModel)]="to" name="to">
    <option value="" disabled selected>Select To</option>
    <option
      *ngFor="let place of places"
      [value]="place"
      [disabled]="place === from"
    >
      {{ place }}
    </option>
  </select>

  <!-- AIRLINE -->
  <select [(ngModel)]="airline" name="airline">
    <option value="" disabled selected>Select Airline</option>
    <option *ngFor="let a of airlines" [value]="a">
      {{ a }}
    </option>
  </select>

  <button (click)="search()">Search</button>
</div>

  <p class="msg">{{ message }}</p>

  <table *ngIf="flights.length > 0">
    <tr>
      <th>Airline</th>
      <th>Airports</th>
      <th>Date</th>
      <th>Time</th>
      <th>Available Seats</th>
      <th>Price (₹)</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let f of flights">
      <td>{{ f.airline }}</td>
      <td>{{ f.fromPlace }} → {{ f.toPlace }}</td>
      <td>{{ f.departureTime | date:'dd MMM yyyy' }}</td>
      <td>
        {{ f.departureTime | date:'HH:mm' }} -
        {{ f.arrivalTime | date:'HH:mm' }}
      </td>
      <!-- <td>{{ getDuration(f.departureTime, f.arrivalTime) }}</td> -->
       <td>{{f.availableSeats}}</td>
      <td>₹ {{ f.price }}</td>
      <td>
        <button class="book-btn" type="button" (click)="bookFlight(f)">Book</button>
    </td>
    </tr>
  </table>
</div>